<h2>Asincrono</h2>
<hr>
<button type="button" class="boton" (click)="ejecutar()">
  <i class="fa" [ngClass]=" { 'fa-save': !loading, 'fa-spin fa-refresh': loading } "></i>
  <span *ngIf="!loading">Guardar Cambios</span>
  <span *ngIf="loading">Espere por favor...</span>
</button>

<p [ngClass]=" { loading }  ">Estamos trabajando para brindarle un mejor servicio, por favor aguarde unos minutos...</p>